.body   {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* Background image not working */
    background-image: url(images/background.jpeg);
    background-size: auto;
}

.one    {
    background-color: #1f2937;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
}
.header {
    display: flex;
    margin-bottom: 50px;
    padding-top: 20px;
}

.logo img  {
    border-radius: 100%;
    height: 60px;
    width: auto;
    border: none;
}

.header-link    {
    margin-left: auto;
    color: #e5e7eb;
}

ul  {
    display: inline;
}

.website-title  {
    color: #f9faf8;
    /* font-size: 48px; */
    font-weight: bold;
}

.left-subheader {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    justify-content: center;
}

.subtext    {
    color: #e5e7eb;
}

button {
    color: #ffffff;
    background-color: #3882F6 ;
    padding: 5px 20px;
    width: 100px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
}

.sub-header {
    display: flex;
    gap: 10px;
}


.right-subheader img  {
    height: 300px;
    width: 600px;
    /* width: 150%; */
    display: block;
    border: none;
}


.two    {
    background-color: #ffffff;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.random-info {
    font-size: 36px;
    color: #1f2937;
}

.illustration-subtext {
    display: flex;
    vertical-align: top;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    gap: 30px   ;
}

img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    border: solid 3px #3882F6;
}

.subtext2 {
    display: block;
    flex-wrap: wrap;
}


.three  {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 400px 0 400px;

}

.quote {
    font-style: italic;
    font-size: 36px;
}

.quote-credits {
    font-weight: bold;
    display: flex;
    text-align: right;
    padding-left: 85%;
}

.four   {
    background-color: #ffffff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6 ;
    border-radius: 8px;
    width: 60%;
    height: 20%;
}

.action-section .signup1 {
    color: #ffffff;
    font-size: 20px;
}

.action-section .signup2 {
    color: #e5e7eb;
}

.four button {
    border: solid 1px #ffffff;
    margin-left: 100px;
}

.five   {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Picture sizes are not responsive & and links logo */

a {
    text-decoration: none;
    color: #e5e7eb;
}